{% extends "admindashboard.twig" %}

{% block jsmodules %}
    {% include "overview_modules/loadcharts.twig" %}
{% endblock %}

{% block content %}
    <div class="charts">
        <div id="last7days" style="padding:20px 0 10px 0; border-bottom:2px solid #000000; margin:0 auto; float:left;"></div>
        <div id="last24hours" style="padding:20px 0 10px 0; border-bottom:2px solid #000000; margin:0 auto;"></div>
    </div>

{% endblock %}