{% extends "adminbase.twig" %}
{% block title %}SWG RO - Admin Login {% endblock %}

{% block content %}

    <div class="adminLoginWrapper">
        <div id="adminLoginHeader">
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Login
        </div>

        <div id="adminLogin">
                {% if flash.getMessage('error')[0] %}
                    <div class="errmsg">
                            <i class="fas fa-exclamation-circle"></i> {{ flash.getMessage('error')[0] }}
                    </div>
                {% endif %}
            <div id="login">
                <form id="alogin" name="adminlogin" method="POST" action="/admin/login">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label id="usernameLabel" for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="LordVader"/>
                            </div>
                            <div class="col-xs-6">
                                <label id="passwordlabel" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="vaderistheman"/>
                            </div>
                        </div>
                    </div>
                    <div class="row sgroup gcap">
                        <div class="g-recaptcha" data-sitekey={{ captchakey }} data-callback="captchaSubmitEnabled" data-expired-callback="captchaSubmitDisabled"></div>
                    </div>
                    <div class="row sgroup">
                        <button type="submit" class="btn btn-default" id="login"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
