<!DOCTYPE html>
<html lang="en">
<head>

    <title>SWG RO - Admin Login</title>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="../ui_elements/img/swgroicon.png" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-3.2.1/dt-1.10.16/b-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/datatables.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="../ui_elements/css/default.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    {% block topnav %} {% endblock %}
</nav>

<div class="container">
    <div class="content">
        <div class="adminLoginWrapper">
            <div id="adminLoginHeader">
                <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Login
            </div>

            <div id="adminLogin">
                {% if flash.getMessage('error')[0] %}
                    <div class="error-msg">
                        <i class="fas fa-exclamation-circle"></i> {{ flash.getMessage('error')[0] }}
                    </div>
                {% endif %}
                <div id="login">
                    {% if flash.getMessage('islocked')[0] == ""%}
                        <form id="alogin" name="adminlogin" method="POST" action="/admin/login">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label id="usernameLabel" for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="LordVader"/>
                                    </div>
                                    <div class="col-xs-6">
                                        <label id="passwordlabel" for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="vaderistheman"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row sgroup gcap">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <div class="g-recaptcha" data-sitekey={{ captchakey }} data-callback="captchaSubmitEnabled" data-expired-callback="captchaSubmitDisabled"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row sgroup">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-default" id="login"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="foot"></div>
    </div>
</footer>


<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.2.1/dt-1.10.16/b-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/datatables.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="../ui_elements/js/utils.js"></script>


</body>
</html>
