body {
  background-color: #EDE8E6;
  color: #333333;
  font-size: 1.12em;
}
#navbar {
  font-size: 1.5em;
}
.navbar-inverse .navbar-nav li a {
  color: #EE5828;
}
.navbar-inverse .navbar-nav .navbar-toggle .icon-bar {
  background-color: #EE5828;
}
.dropdown-menu {
  background-color: #000000;
}
.dropdown-menu li a {
  color: #ffffff;
}
.dropdown-menu li a:hover {
  background-color: #EE5828;
  color: #ffffff;
}
.content {
  padding: 0 2%;
}
#status {
  margin: 0 2% 0 2%;
  height: 40px;
  width: 96%;
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
#status .left {
  float: left;
  margin: 0 2% 0 2%;
  color: #EE5828;
  height: 30px;
  padding: 0.7% 0;
  font-weight: bold;
  display: block;
  overflow: hidden;
}
#status .right {
  color: lime;
  padding: 0.7% 0;
  height: 30px;
  margin-left: 10px;
  display: block;
  overflow: hidden;
  width: 25%;
}
#main {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  padding: 3%;
  background-color: #ffffff;
  height: 100%;
}
#main h2 {
  color: #EE5828;
  margin-top: 0;
  font-size: 2.0em;
}
#main .hspacer {
  border-top: 1px solid #cccccc;
}
.foot {
  color: #EE5828;
  padding: 1.2% 0 1% 0;
  font-family: 'galbasic';
}
.credits {
  font-family: 'galbasic';
}
.translation {
  float: right;
}
.translation a {
  text-decoration: none;
  color: #EE5828;
}
#newAccount .sgroup {
  margin: 15px -15px 0 -15px;
}
#newAccount .gcap {
  margin: 15px 0 0 1px;
}
#newAccount #authcodelabel {
  padding: 10px 0;
}
#newAccount .form-control {
  font-size: 1.12em;
}
.error {
  padding: 0 16px;
  color: #ff0000;
  font-weight: 700;
}
.error-msg {
  color: #ff0000;
  font-weight: 700;
}
.successmsg {
  color: #1E8449;
  font-weight: 700;
}
.btn-default {
  margin-left: 14px;
  background-image: linear-gradient(#EE5828, #EE5828);
  background: #EE5828;
  color: #000000;
}
.btn {
  font-size: 1.12em;
}
::-webkit-input-placeholder {
  color: #ff0000;
  font-family: 'galbasic';
}
:-moz-placeholder {
  color: #ff0000;
  font-family: 'galbasic';
}
::-moz-placeholder {
  color: #ff0000;
  font-family: 'galbasic';
}
:-ms-input-placeholder {
  color: #ff0000;
  font-family: 'galbasic';
}
/* Admin Section */
#adminLogin {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  padding: 3%;
  background-color: #ffffff;
  width: 50%;
  margin: 0 auto;
}
#adminLoginHeader {
  padding: 0.6% 0.6% 0.6% 3%;
  font-size: 1.5em;
  color: #EE5828;
  margin: 0 auto;
  height: 40px;
  width: 50%;
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
.navbar-brand {
  color: #EE5828;
}
.wrapper {
  display: flex;
  align-items: stretch;
}
.admincontent {
  width: 100%;
  padding: 0 2%;
}
#adminmain {
  border: 1px solid #333;
  margin-top: 3%;
  width: 80%;
  padding: 3%;
  background-color: #ffffff;
}
#adminmain h2 {
  color: #EE5828;
}
thead {
  background-color: #000000;
}
a {
  color: #EE5828;
  text-decoration: none;
}
.table-border {
  border: 1px solid #000000;
}
.table-border tbody tr td {
  border: 1px soild #000000;
}
.table-border tbody tr th {
  border: 1px solid #000000;
}
.table-border tfoot tr td {
  border: 1px solid #000000;
}
.table-border tfoot tr th {
  border: 1px solid #000000;
}
.table-border thead tr td {
  border: 1px solid #000000;
}
.table-border thead tr th {
  border: 1px solid #000000;
}
.pagination .active a {
  z-index: 3;
  color: #000000;
  cursor: default;
  background-color: #EE5828;
  border-color: #EE5828;
}
.pagination .active a:focus {
  z-index: 3;
  color: #000000;
  cursor: default;
  background-color: #EE5828;
  border-color: #EE5828;
}
.pagination .active a:hover {
  z-index: 3;
  color: #000000;
  cursor: default;
  background-color: #EE5828;
  border-color: #EE5828;
}
.pagination .active span {
  z-index: 3;
  color: #000000;
  cursor: default;
  background-color: #EE5828;
  border-color: #EE5828;
}
.pagination .active span:focus {
  z-index: 3;
  color: #000000;
  cursor: default;
  background-color: #EE5828;
  border-color: #EE5828;
}
.pagination .active span:hover {
  z-index: 3;
  color: #000000;
  cursor: default;
  background-color: #EE5828;
  border-color: #EE5828;
}
.pagination li a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
}
.pagination li span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
}
.overviewchart {
  width: 100%;
  min-height: 450px;
}
.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  top: 0;
  width: 200px;
  height: 100%;
  color: #EE5828;
  min-height: 90vh;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul li {
  list-style: none;
  padding: 0;
  maring: 0;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul li :not(collapsed) .arrow:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  display: inline-block;
  padding: 0 10px 0 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul li .active {
  border-left: 3px solid #EE5828;
  background-color: #4f5b69;
}
.nav-side-menu ul li .active a {
  color: #EE5828;
}
.nav-side-menu ul li .sub-menu li.active {
  border-left: 3px solid #EE5828;
  background-color: #4f5b69;
}
.nav-side-menu ul li .sub-menu li.active a {
  color: #EE5828;
}
.nav-side-menu ul li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0;
  border-left: 3px solid #2e353d;
}
.nav-side-menu ul li .sub-menu li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #EE5828;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #EE5828;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@font-face {
  font-family: 'galbasic';
  src: url('../fonts/galbasic.eot');
  src: local('galbasic'), url('../fonts/galbasic.woff') format('woff'), url('../fonts/galbasic.ttf') format('truetype');
}
.fontsforweb_fontid_691 {
  font-family: 'galbasic' !important;
}
/*# sourceMappingURL=default.css.map */