body {background-color:#EDE8E6; font-size:1.12em;}
#navbar {font-size:1.5em;}
.navbar-inverse .navbar-nav>li>a {color:#EE5828;}
.navbar-inverse .navbar-toggle .icon-bar {background-color:#EE5828;}
.dropdown-menu {background:#000000;}
.dropdown-menu>li>a {color:#ffffff;}
.dropdown-menu>li>a:hover {background-color:#EE5828; color:#ffffff; background-image:none;}
.content {padding:0 2% 2% 2%;}
#main {border-left:1px solid #333;border-right:1px solid #333;border-bottom:1px solid #333; height:100%; padding:3%; background-color:#ffffff;}
.hspacer {border-top:1px solid #ccc;}
::-webkit-input-placeholder { color: red; font-family:'galbasic';}
:-moz-placeholder { color: red; font-family:'galbasic';}
::-moz-placeholder { color: red; font-family:'galbasic';}
:-ms-input-placeholder {  color: red;  font-family:'galbasic';}
.sgroup {margin:15px -15px 0 -15px;}
.twitter, .misc, .news {border:1px solid #333; padding:2%; background-color:#ffffff; margin:1% 0 1% 0;}
.foot {color:#EE5828; padding:1.2% 0 1% 0; font-family:'galbasic';}
.btn-default {margin-left:14px; background-image: linear-gradient(#EE5828, #EE5828); background:#ee5828; color:#000;}
.credits {font-family: 'galbasic';}
.translation {float:right;}
.translation a {text-decoration: none; color: #EE5828;}
#newAccount h2 {color:#EE5828; margin-top:0; font-size:2.0em;}
.gcap {margin:15px 0 0 1px; }
#status {margin:0 2% 0 2%; height:40px; width:96%; background-image: linear-gradient( to bottom, #3c3c3c 0, #222 100%); -webkit-border-radius: 20px 20px 0px 0px;-moz-border-radius: 20px 20px 0px 0px;border-radius: 20px 20px 0px 0px;}
#status .left {float:left; margin:0 2% 0 2%; color:#EE5828; height:30px; padding:0.7% 0 0 0; font-weight:bold; display:block; overflow:hidden;}
#status .right {color:lime; padding:0.7% 0 0 0; height:30px; margin-left:10px; display:block; overflow:hidden; width:25%;}
#authcodelabel {padding:10px 0 0 0; }
.form-control {font-size:1.12em;}
.btn {font-size:1.12em;}
/* Form validation CSS */
.error {padding:0 0 0 16px; color:#ff0000; font-weight:bold;}
.error-msg {color:#ff0000; font-weight:bold;}
.successmsg {color: #1E8449; font-weight:bold; font-size:1.2em;}

.yimg {width:100%;}
.moduleError {color:#ff0000;}

/* Admin */
.adm {margin-bottom:0px !important;}
/*.adminLoginWrapper {position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); width:75%;}*/
#adminLogin {border-left:1px solid #333;border-right:1px solid #333;border-bottom:1px solid #333; padding:3%; background-color:#ffffff; width:50%; margin:0 auto;}
#adminLoginHeader {padding:0.6% 0.6% 0.6% 3%; font-size:1.5em; color:#EE5828; margin:0 auto; height:40px; width:50%; background:#23282e; -webkit-border-radius: 20px 20px 0px 0px;-moz-border-radius: 20px 20px 0px 0px;border-radius: 20px 20px 0px 0px;}
.errmsg {font-weight:800; padding:0 0 10px 0; color:#ff0000;}
.navbar-brand {color: #EE5828 !important;}
.wrapper {display:flex;align-items:stretch;}
.admincontent {width:100%; padding:0 2%;}
#adminmain {border:1px solid #333; margin-top:3%; width:80%; padding:3%; background-color:#ffffff;}
#adminmain h2 {color: #EE5828;}
thead {background-color:#000; color: #EE5828;}
a {color:#EE5828; text-decoration none;}
.table-bordered {border:1px solid #000;}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #000;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #000;
    cursor: default;
    background-color: #EE5828;
    border-color: #EE5828;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.nav-side-menu {
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    background-image:linear-gradient( to bottom, #3c3c3c 0, #222 100%);
    top: 0px;
    width: 200px;
    height: 100%;
    color: #EE5828;
    min-height:90vh;
}

.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: "Font Awesome 5 Free";
    font-weight:900;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #EE5828;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    border-left: 3px solid #EE5828;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #EE5828;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
    border-left: 3px solid #2e353d;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    border-left: 3px solid #EE5828;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: "Font Awesome 5 Free";
    font-weight:900;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #EE5828;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #EE5828;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
    /*#main {
        width:calc(100% - 300px);
        float: right;
    }*/
}


@font-face {
    font-family: 'galbasic';
    src: url('../fonts/galbasic.eot');
    src: local('galbasic'), url('../fonts/galbasic.woff') format('woff'), url('../fonts/galbasic.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_691">Text with this font applied</p> */
.fontsforweb_fontid_691 {
    font-family: 'galbasic' !important;
}

/* Font downloaded from FontsForWeb.com */
