{% extends "clientbase.twig" %}
{% block title %}SWG RO - Client Access System {% endblock %}
{% block topnav %}

    <!-- Only used if navigation is used -->
    <div class="container">
       <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div> -->
    </div>
{% endblock %}

{% block content %}
    <script>
        {% if useAuth == "" %}
            var useAuth = 0;
        {% else %}
            var useAuth = 1;
        {% endif %}
    </script>

    <div id="main">
        <div id="newAccount">
            <h2><i class="fas fa-user" aria-hidden="true"></i> Create New Game Account</h2>
            <hr class="hspacer">
            <div class="msg"></div>
            <form id="nAccount" name="newAccount" method="post">
                <input type="hidden" name="uip" value="{{ uIP }}" id="uip"/>
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label id="usernamelabel" for="usernameInput">Username</label>
                            <input type="text" class="form-control" id="usernameInput" name="username" aria-describedby="usernameHelp" placeholder="LordVader"/>
                            <small id="usernameHelp" class="form-text text-muted">*Only use Alpha/Numeric and special characters (@.)</small>
                        </div>
                        <div class="col-xs-6">
                            <label id="emaillabel" for="emailInput">Email</label>
                            <input type="email" class="form-control" id="emailInput" name="email" aria-describedby="emailHelp" placeholder="vader@empire.org"/>
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>
                <div class="row sgroup">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label id="passwordlabel" for="passwordInput">Password</label>
                            <input type="password" class="form-control" id="passwordInput" name="password" aria-describedby="passwordHelp" placeholder="vaderistheman"/>
                            <small id="passwordHelp" class="form-text text-muted">*Only use Alpha/Numeric and special characters (!@$*-:_)</small>
                        </div>
                        <div class="col-xs-6">
                            <label id="password2label" for="password2Input">Confirm Password</label>
                            <input type="password" class="form-control" id="password2Input" name="repassword" aria-describedby="password2Help" placeholder="vaderistheman"/>
                            <small id="password2Help" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>
                {% if useAuth == true %}
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label id="authcodelabel" for="authcodeInput">Authorization Code</label>
                            <input type="text" class="form-control" id="authcodeInput" name="authcode" arai-describedby="authcodeHelp" placeholder=""/>
                            <small id="authcodeHelp" class="form-text text-muted">*Only Use this if you have been give an authorization code</small>
                        </div>
                        <div class="col-xs-6">&nbsp;</div>
                    </div>
                </div>
                {% endif %}
                <div class="row sgroup">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="g-recaptcha" data-sitekey="{{ captchakey }}" data-callback="captchaSubmitEnabled" data-expired-callback="captchaSubmitDisabled"></div>
                        </div>
                    </div>
                </div>
                <div class="row sgroup">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-default" id="accCreate"><i class="fas fa-user-plus" aria-hidden="true"></i> Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}