<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/admin/dashboard">SWG RO Account System - Admin Dashboard</a>
    </div>
    <!--
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="">Profile</a></li>
            <li><a href="">Help</a></li>
        </ul>
    </div>
    -->
</div>