<!-- <ul class="list-unstyled components">
    <li data-toggle="collapse" data-target="#userprofile" class="collapsed active"><a href=""><i class="fas fa-user"></i> Profile</a>  <span class="arrow"></span></li>
    <ul class="sub-menu collapse" id="userprofile">
        <li>Change Password</li>
        <li>Change Email</li>
    </ul>
    <li class="active"><a href="">Overview</a></li>
    <li><a href=""><i class="fas fa-barcode"></i></i> Auth Codes</a></li>
    <li><a href=""><i class="fas fa-users"></i> Users</a></li>
    <li><a href=""><i class="fas fa-file-alt"></i> Reports</a></li>
</ul>
</nav> -->

<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li class="active">
                <a href="#">
                    <i class="fas fa-dashboard fa-lg"></i> Overview
                </a>
            </li>
            <li data-toggle="collapse" data-target="#authcodes" class="collapsed">
                <a href="#"><i class="fas fa-barcode fa-lg"></i> Auth Codes <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="authcodes">
                <li><a href="#">Create Authcode</a></li>
                <li><a href="#">View Authcodes</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#users" class="collapsed">
                <a href="#"><i class="fas fa-users fa-lg"></i></i> Players <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="users">
                <li>View Users</li>
                <li>View Ban Users</li>
                <li>View Ban Characters</li>
            </ul>


            <li data-toggle="collapse" data-target="#reports" class="collapsed">
                <a href="#"><i class="fas fa-file-alt fa-lg"></i> Reports <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="reports">
                <li>New User Report</li>
                <li>Authcodes Used Report</li>
                <li>Authcodes Genreated Report</li>
                <li>Current Accounts Logged In</li>
            </ul>
            <li>
                <a href="#">
                    <i class="fas fa-user fa-lg"></i> Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-secret fa-lg"></i> Users
                </a>
            </li>
        </ul>
    </div>
</div>