{% if flash.getMessage('error')[0] %}
    <div class="error-msg">
        <i class="fas fa-exclamation-circle"></i> {{ flash.getMessage('error')[0] }}
    </div>
{% endif %}
{% if flash.getMessage('success')[0] %}
    <div class="successmsg">
        <i class="fas fa-check-circle"></i> {{ flash.getMessage('success')[0] }}
    </div>
{% endif %}